@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome��firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome��firefox��opera��Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
*[data-role=car]:before {
  content: "\e608";
  font-family: iconfont;
}
*[data-role=car][icon-pos=top]:before {
  content: "\e608";
  font-family: iconfont;
  display: block;
}
*[data-role=car][icon-pos=right]:before {
  content: "";
  font-family: iconfont;
}
*[data-role=car][icon-pos=right]:after {
  content: "\e608";
  font-family: iconfont;
}
*[data-role=car][icon-pos=bottom]:before {
  content: "";
  font-family: iconfont;
}
*[data-role=car][icon-pos=bottom]:after {
  content: "\e608";
  font-family: iconfont;
  display: block;
}
*[data-role=rb]:before {
  content: "\e600";
  font-family: iconfont;
}
*[data-role=rb][icon-pos=top]:before {
  content: "\e600";
  font-family: iconfont;
  display: block;
}
*[data-role=rb][icon-pos=right]:before {
  content: "";
  font-family: iconfont;
}
*[data-role=rb][icon-pos=right]:after {
  content: "\e600";
  font-family: iconfont;
}
*[data-role=rb][icon-pos=bottom]:before {
  content: "";
  font-family: iconfont;
}
*[data-role=rb][icon-pos=bottom]:after {
  content: "\e600";
  font-family: iconfont;
  display: block;
}
*[data-role=snk]:before {
  content: "\f005f";
  font-family: iconfont;
}
*[data-role=snk][icon-pos=top]:before {
  content: "\f005f";
  font-family: iconfont;
  display: block;
}
*[data-role=snk][icon-pos=right]:before {
  content: "";
  font-family: iconfont;
}
*[data-role=snk][icon-pos=right]:after {
  content: "\f005f";
  font-family: iconfont;
}
*[data-role=snk][icon-pos=bottom]:before {
  content: "";
  font-family: iconfont;
}
*[data-role=snk][icon-pos=bottom]:after {
  content: "\f005f";
  font-family: iconfont;
  display: block;
}
