@keyframes round {
  0% {
    transform: translate(50px, 0px);
  }
  1.38888889% {
    transform: translate(49.8097349px, 4.35778714px);
  }
  2.77777778% {
    transform: translate(49.24038765px, 8.68240888px);
  }
  4.16666667% {
    transform: translate(48.29629131px, 12.94095226px);
  }
  5.55555556% {
    transform: translate(46.98463104px, 17.10100717px);
  }
  6.94444444% {
    transform: translate(45.31538935px, 21.13091309px);
  }
  8.33333333% {
    transform: translate(43.30127019px, 25px);
  }
  9.72222222% {
    transform: translate(40.95760221px, 28.67882182px);
  }
  11.11111111% {
    transform: translate(38.30222216px, 32.13938048px);
  }
  12.5% {
    transform: translate(35.35533906px, 35.35533906px);
  }
  13.88888889% {
    transform: translate(32.13938048px, 38.30222216px);
  }
  15.27777778% {
    transform: translate(28.67882182px, 40.95760221px);
  }
  16.66666667% {
    transform: translate(25px, 43.30127019px);
  }
  18.05555556% {
    transform: translate(21.13091309px, 45.31538935px);
  }
  19.44444444% {
    transform: translate(17.10100717px, 46.98463104px);
  }
  20.83333333% {
    transform: translate(12.94095226px, 48.29629131px);
  }
  22.22222222% {
    transform: translate(8.68240888px, 49.24038765px);
  }
  23.61111111% {
    transform: translate(4.35778714px, 49.8097349px);
  }
  25% {
    transform: translate(0px, 50px);
  }
  26.38888889% {
    transform: translate(-4.35778714px, 49.8097349px);
  }
  27.77777778% {
    transform: translate(-8.68240888px, 49.24038765px);
  }
  29.16666667% {
    transform: translate(-12.94095226px, 48.29629131px);
  }
  30.55555556% {
    transform: translate(-17.10100717px, 46.98463104px);
  }
  31.94444444% {
    transform: translate(-21.13091309px, 45.31538935px);
  }
  33.33333333% {
    transform: translate(-25px, 43.30127019px);
  }
  34.72222222% {
    transform: translate(-28.67882182px, 40.95760221px);
  }
  36.11111111% {
    transform: translate(-32.13938048px, 38.30222216px);
  }
  37.5% {
    transform: translate(-35.35533906px, 35.35533906px);
  }
  38.88888889% {
    transform: translate(-38.30222216px, 32.13938048px);
  }
  40.27777778% {
    transform: translate(-40.95760221px, 28.67882182px);
  }
  41.66666667% {
    transform: translate(-43.30127019px, 25px);
  }
  43.05555556% {
    transform: translate(-45.31538935px, 21.13091309px);
  }
  44.44444444% {
    transform: translate(-46.98463104px, 17.10100717px);
  }
  45.83333333% {
    transform: translate(-48.29629131px, 12.94095226px);
  }
  47.22222222% {
    transform: translate(-49.24038765px, 8.68240888px);
  }
  48.61111111% {
    transform: translate(-49.8097349px, 4.35778714px);
  }
  50% {
    transform: translate(-50px, 0px);
  }
  51.38888889% {
    transform: translate(-49.8097349px, -4.35778714px);
  }
  52.77777778% {
    transform: translate(-49.24038765px, -8.68240888px);
  }
  54.16666667% {
    transform: translate(-48.29629131px, -12.94095226px);
  }
  55.55555556% {
    transform: translate(-46.98463104px, -17.10100717px);
  }
  56.94444444% {
    transform: translate(-45.31538935px, -21.13091309px);
  }
  58.33333333% {
    transform: translate(-43.30127019px, -25px);
  }
  59.72222222% {
    transform: translate(-40.95760221px, -28.67882182px);
  }
  61.11111111% {
    transform: translate(-38.30222216px, -32.13938048px);
  }
  62.5% {
    transform: translate(-35.35533906px, -35.35533906px);
  }
  63.88888889% {
    transform: translate(-32.13938048px, -38.30222216px);
  }
  65.27777778% {
    transform: translate(-28.67882182px, -40.95760221px);
  }
  66.66666667% {
    transform: translate(-25px, -43.30127019px);
  }
  68.05555556% {
    transform: translate(-21.13091309px, -45.31538935px);
  }
  69.44444444% {
    transform: translate(-17.10100717px, -46.98463104px);
  }
  70.83333333% {
    transform: translate(-12.94095226px, -48.29629131px);
  }
  72.22222222% {
    transform: translate(-8.68240888px, -49.24038765px);
  }
  73.61111111% {
    transform: translate(-4.35778714px, -49.8097349px);
  }
  75% {
    transform: translate(0px, -50px);
  }
  76.38888889% {
    transform: translate(4.35778714px, -49.8097349px);
  }
  77.77777778% {
    transform: translate(8.68240888px, -49.24038765px);
  }
  79.16666667% {
    transform: translate(12.94095226px, -48.29629131px);
  }
  80.55555556% {
    transform: translate(17.10100717px, -46.98463104px);
  }
  81.94444444% {
    transform: translate(21.13091309px, -45.31538935px);
  }
  83.33333333% {
    transform: translate(25px, -43.30127019px);
  }
  84.72222222% {
    transform: translate(28.67882182px, -40.95760221px);
  }
  86.11111111% {
    transform: translate(32.13938048px, -38.30222216px);
  }
  87.5% {
    transform: translate(35.35533906px, -35.35533906px);
  }
  88.88888889% {
    transform: translate(38.30222216px, -32.13938048px);
  }
  90.27777778% {
    transform: translate(40.95760221px, -28.67882182px);
  }
  91.66666667% {
    transform: translate(43.30127019px, -25px);
  }
  93.05555556% {
    transform: translate(45.31538935px, -21.13091309px);
  }
  94.44444444% {
    transform: translate(46.98463104px, -17.10100717px);
  }
  95.83333333% {
    transform: translate(48.29629131px, -12.94095226px);
  }
  97.22222222% {
    transform: translate(49.24038765px, -8.68240888px);
  }
  98.61111111% {
    transform: translate(49.8097349px, -4.35778714px);
  }
  100% {
    transform: translate(50px, 0px);
  }
}
*[data-dh=animate-round] {
  animation: round 2s linear infinite;
}
@keyframes quxian {
  0% {
    transform: translate(50px, 0px);
  }
  1.38888889% {
    transform: translate(49.8097349px, 10px);
  }
  2.77777778% {
    transform: translate(49.24038765px, 17.32050808px);
  }
  4.16666667% {
    transform: translate(48.29629131px, 20px);
  }
  5.55555556% {
    transform: translate(46.98463104px, 17.32050808px);
  }
  6.94444444% {
    transform: translate(45.31538935px, 10px);
  }
  8.33333333% {
    transform: translate(43.30127019px, 0px);
  }
  9.72222222% {
    transform: translate(40.95760221px, -10px);
  }
  11.11111111% {
    transform: translate(38.30222216px, -17.32050808px);
  }
  12.5% {
    transform: translate(35.35533906px, -20px);
  }
  13.88888889% {
    transform: translate(32.13938048px, -17.32050808px);
  }
  15.27777778% {
    transform: translate(28.67882182px, -10px);
  }
  16.66666667% {
    transform: translate(25px, 0px);
  }
  18.05555556% {
    transform: translate(21.13091309px, 10px);
  }
  19.44444444% {
    transform: translate(17.10100717px, 17.32050808px);
  }
  20.83333333% {
    transform: translate(12.94095226px, 20px);
  }
  22.22222222% {
    transform: translate(8.68240888px, 17.32050808px);
  }
  23.61111111% {
    transform: translate(4.35778714px, 10px);
  }
  25% {
    transform: translate(0px, 0px);
  }
  26.38888889% {
    transform: translate(-4.35778714px, -10px);
  }
  27.77777778% {
    transform: translate(-8.68240888px, -17.32050808px);
  }
  29.16666667% {
    transform: translate(-12.94095226px, -20px);
  }
  30.55555556% {
    transform: translate(-17.10100717px, -17.32050808px);
  }
  31.94444444% {
    transform: translate(-21.13091309px, -10px);
  }
  33.33333333% {
    transform: translate(-25px, 0px);
  }
  34.72222222% {
    transform: translate(-28.67882182px, 10px);
  }
  36.11111111% {
    transform: translate(-32.13938048px, 17.32050808px);
  }
  37.5% {
    transform: translate(-35.35533906px, 20px);
  }
  38.88888889% {
    transform: translate(-38.30222216px, 17.32050808px);
  }
  40.27777778% {
    transform: translate(-40.95760221px, 10px);
  }
  41.66666667% {
    transform: translate(-43.30127019px, 0px);
  }
  43.05555556% {
    transform: translate(-45.31538935px, -10px);
  }
  44.44444444% {
    transform: translate(-46.98463104px, -17.32050808px);
  }
  45.83333333% {
    transform: translate(-48.29629131px, -20px);
  }
  47.22222222% {
    transform: translate(-49.24038765px, -17.32050808px);
  }
  48.61111111% {
    transform: translate(-49.8097349px, -10px);
  }
  50% {
    transform: translate(-50px, 0px);
  }
  51.38888889% {
    transform: translate(-49.8097349px, 10px);
  }
  52.77777778% {
    transform: translate(-49.24038765px, 17.32050808px);
  }
  54.16666667% {
    transform: translate(-48.29629131px, 20px);
  }
  55.55555556% {
    transform: translate(-46.98463104px, 17.32050808px);
  }
  56.94444444% {
    transform: translate(-45.31538935px, 10px);
  }
  58.33333333% {
    transform: translate(-43.30127019px, 0px);
  }
  59.72222222% {
    transform: translate(-40.95760221px, -10px);
  }
  61.11111111% {
    transform: translate(-38.30222216px, -17.32050808px);
  }
  62.5% {
    transform: translate(-35.35533906px, -20px);
  }
  63.88888889% {
    transform: translate(-32.13938048px, -17.32050808px);
  }
  65.27777778% {
    transform: translate(-28.67882182px, -10px);
  }
  66.66666667% {
    transform: translate(-25px, 0px);
  }
  68.05555556% {
    transform: translate(-21.13091309px, 10px);
  }
  69.44444444% {
    transform: translate(-17.10100717px, 17.32050808px);
  }
  70.83333333% {
    transform: translate(-12.94095226px, 20px);
  }
  72.22222222% {
    transform: translate(-8.68240888px, 17.32050808px);
  }
  73.61111111% {
    transform: translate(-4.35778714px, 10px);
  }
  75% {
    transform: translate(0px, 0px);
  }
  76.38888889% {
    transform: translate(4.35778714px, -10px);
  }
  77.77777778% {
    transform: translate(8.68240888px, -17.32050808px);
  }
  79.16666667% {
    transform: translate(12.94095226px, -20px);
  }
  80.55555556% {
    transform: translate(17.10100717px, -17.32050808px);
  }
  81.94444444% {
    transform: translate(21.13091309px, -10px);
  }
  83.33333333% {
    transform: translate(25px, 0px);
  }
  84.72222222% {
    transform: translate(28.67882182px, 10px);
  }
  86.11111111% {
    transform: translate(32.13938048px, 17.32050808px);
  }
  87.5% {
    transform: translate(35.35533906px, 20px);
  }
  88.88888889% {
    transform: translate(38.30222216px, 17.32050808px);
  }
  90.27777778% {
    transform: translate(40.95760221px, 10px);
  }
  91.66666667% {
    transform: translate(43.30127019px, 0px);
  }
  93.05555556% {
    transform: translate(45.31538935px, -10px);
  }
  94.44444444% {
    transform: translate(46.98463104px, -17.32050808px);
  }
  95.83333333% {
    transform: translate(48.29629131px, -20px);
  }
  97.22222222% {
    transform: translate(49.24038765px, -17.32050808px);
  }
  98.61111111% {
    transform: translate(49.8097349px, -10px);
  }
  100% {
    transform: translate(50px, 0px);
  }
}
*[data-dh=animate-quxian] {
  animation: quxian 2s linear infinite;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*[data-dh=animate-fadein] {
  animation: fadein 2s linear;
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
*[data-dh=animate-fadeout] {
  animation: fadeout 2s linear;
}
@keyframes slidein {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0);
  }
}
*[data-dh=animate-slidein] {
  animation: slidein 2s linear;
  transform-origin: top;
}
@keyframes slideout {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
*[data-dh=animate-slideout] {
  animation: slideout 2s linear;
  transform-origin: top;
}
@keyframes wait {
  0% {
    box-shadow: 50px 0px;
  }
  1.38888889% {
    box-shadow: 49.8097349px 4.35778714px;
  }
  2.77777778% {
    box-shadow: 49.24038765px 8.68240888px;
  }
  4.16666667% {
    box-shadow: 48.29629131px 12.94095226px;
  }
  5.55555556% {
    box-shadow: 46.98463104px 17.10100717px;
  }
  6.94444444% {
    box-shadow: 45.31538935px 21.13091309px;
  }
  8.33333333% {
    box-shadow: 43.30127019px 25px;
  }
}
*[data-dh=animation] {
  animation: wait 2s linear;
}
